lib/
target/
.metadata/
.idea/
.settings/
node_modules/
.vscode/settings.json
.DS_Store
Thumbs.db
._*
.project
.classpath
.factorypath
*.local.properties
*.stackdump
*.p12
*.lnk
*.iml
*.vsix
npm-debug.log
.vscode-test/