lib/
target/
.metadata/
.idea/
.settings/
node_modules/
.vscode/settings.json
.DS_Store
Thumbs.db
._*
.project
.classpath
*.local.properties
*.stackdump
*.p12
*.lnk
*.iml
*.vsix
npm-debug.log
package-lock.json
.vscode-test/